/**
 * 样式
 */

body {
  background-color: #000000;
  margin: 0px;
  overflow: hidden;
}

#city {
	width: 100%;
	position: fixed;
	bottom: 0;
	left: 0;
	z-index: 100;
}

#moon {
	width: 120px;
	position: fixed;
	right: 80px;
	top: 100px;
}
