/**
 * 样式
 */

html, body {
 	margin: 0;
 	padding: 0;
 	height: 100%;
 	overflow: auto;
}

body {
	text-align: center;
	background: url(http://pcqo8f331.bkt.clouddn.com/bg_body.jpg) no-repeat #E7E7F2;
	background-size: cover;
	color: #333;
}

.container {
	width: 480px;
	height: 600px;
	margin: 0 auto;
	position: relative;
	border-radius: 10px;
    box-shadow: 5px 5px 5px #888;
}

.container img {
	width: 100%;
	height: 100%;
}

.container canvas {
	position: absolute;
	top: 100px;
	margin-left: -110px;
	z-index: 1;
}

.container #digital {
	position: absolute;
    top: 350px;
    left: 178px;
    font-size: 24px;
    z-index: 1;
}
